@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    list-style: none;
    text-decoration: none;
}

:root {
    /* Colors */
    --azul: #00f0ff;
    --amarelo: #e28413;
    --branco: #fbf5f3;
    --rosa: #de3c4b;
    --preto: #000;
}
body{
    color: var(--branco);
    background: var(--preto);
    /* overflow: hidden; */
}
.home{
    background-image: url(img/capa-landingpage.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 50% 0px 10%;
}
.learn{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 0px 10%;
    text-align: center;
}
.learn-text .texto-h4{
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding: 0px 20%;

}
.learn-text .texto-h1{
    font-size: 4rem;
    line-height: 4rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}
.learn-text .texto-h1 span{
    color: var(--azul);
}
.home-text img{
    width: 34%;
    margin-bottom: 2rem;
}
.home-text{
    max-width: 37rem;
}
.home-text .texto-h1 {
    font-size: 4rem;
    line-height: 4rem;
    margin-bottom: 1.5rem;
    color: var(--azul);
}
.home-text .texto-h4{
    margin-bottom: 4rem;
}

.section1-btn{
    padding: 10px 110px;
    color: var(--preto);
    background: var(--azul);
    transition: all 0.5s;
    border-radius: 6px;
    font-weight: 700;
    background: -webkit-linear-gradient(68deg, #258FE6 0%, #07C4FF 100%);

}

